@mixin componentBorders($About, $weigth: 0.1px, $margin: 2px) {
  #{$About} {
    border: 0.1px rgb(26, 115, 233) solid;
    margin: $margin;
    border-radius: 2px;
    margin-top: 0px;

    * {
      border: $weigth rgb(255, 255, 255) solid;
      margin: $margin;
      border-radius: 14px;
    }
  }
}
// @include componentBorders(#About);

//PIVOT SIZE
$pivotWidthScreen: 1000px; //IF CHANGE, CHANGE IN EVEREWHERE!!

//BASE
@mixin baseMobile() {
  #About {
    font-family: "Source Serif Pro", serif;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
  }

  #About p {
    margin: 0;
    padding: 0;
  }
  /* double	groove	ridge
inset	outset */
  #title {
    font-size: 2rem;
    background-color: rgba(29, 29, 29, 0.267);
    color: white;
    height: 3rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding-top: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0rem 0.3rem 0.01rem;
    width: 100%;
  }

  .curveButtonContainer {
    position: relative;
    left: 11vw;
    border-radius: 100%;
    // margin-left: 10vw;
    transition: all 0.1s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: radial-gradient(
      circle,
      rgb(226, 226, 226) 40%,
      rgba(255, 0, 0, 0) 53%
    );

    transition: all 0.2s linear;
    transform: scale(2.5);
    font-size: 0.5rem;
    font-family: monospace;

    img {
      // transform: rotate(-$rotate);
      $scale: 70%;
      width: $scale;
      height: $scale;
      border-radius: 50%;
    }
  }

  #imgANDdescription {
    // border: 0.1rem solid grey;
    margin-bottom: 0.4rem;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .description {
      font-size: 1.05rem;
      font-size: 4vw;
      color: rgb(238, 238, 238);
      text-align: left;
      // text-justify: inter-character;
    }

    #perfil {
      // background-color: #3300c0;
      $size: 38%;
      width: $size;
      height: 100%;
      border-radius: 100%;
      box-shadow: 0 0 1rem -0.3rem;
      margin-left: 0.4rem;
      transition: 1000ms;
    }
  }

  #subTitles {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    padding-top: 0.2rem;
    background-color: rgb(36, 36, 36);
    width: 100%;
  }

  #logos {
    max-width: 90%;
    margin-top: 0.3rem;

    a {
      color: transparent;
    }
    $scale: 8vw;
    img {
      width: $scale;
      height: $scale;
      border-radius: 0.3rem;
    }
    img[src="https://www.nextontop.com/assets/img/services/web/expressjs.svg"]
    {
      transform: scale(1.57);
    }

    img[ src="https://images.tute.io/tute/topic/prisma.png"]
    {
      transform: scale(1.57);
      filter: brightness(3);
    }
  }
}

@function limitFontSize($maxSize) {
}

//MOBILE
@media (max-width: $pivotWidthScreen) {
  @include baseMobile;

  #logosText {
    max-width: 95vw;
  }

  #title {
    position: relative;
  }
  * {
    // border: 1px solid green;
  }
  .upToogleLanguage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 100;
    top: 0.6rem;
    right: 0;
    font-size: 0.87rem;
    // margin: 1vh 0;
    img {
      margin: 0 0.4rem;
      // width: 10vw;
      height: 2.4rem;
      border-radius: 50%;
      filter: drop-shadow(0 0 0.1rem rgb(255, 255, 255));
    }
  }

  .curveButtonContainer {
    // display: none;
    position: absolute;
    right: 0px;
    left: auto;
    top: -1vw;
    border-radius: 100%;
    // margin-left: 10vw;
    transition: all 0.2s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: radial-gradient(
      circle,
      rgb(255, 255, 255) 40%,
      rgba(255, 0, 0, 0) 53%
    );
    transition: all 0.4s linear;
    transform: scale(1.4);
    font-size: 0.5rem;
    font-family: monospace;
    img {
      // transform: rotate(-$rotate);
      $scale: 70%;
      width: $scale;
      height: $scale;
      border-radius: 50%;
    }
  }
}

//MOBILE MINI
@media (max-width: 400px) {
  .upToogleLanguage {
    font-size: 0.6rem;
    top: 0.7rem;
    img {
      margin: 0 0.1rem;
      // width: 10vw;
      height: 2rem;
      border-radius: 50%;
      filter: drop-shadow(0 0 0.1rem rgb(255, 255, 255));
    }
  }
}

//MOBILE MINI-MINI
@media (max-width: 313px) {
  .upToogleLanguage {
    font-size: 0.6rem;
    top: 0.7rem;
    .label {
      display: none;
    }
    img {
      margin: 0 0.1rem;
      // width: 10vw;
      height: 2rem;
      border-radius: 50%;
      filter: drop-shadow(0 0 0.1rem rgb(255, 255, 255));
    }
  }
}

//DESKTOP
@media (min-width: $pivotWidthScreen) {
  @include baseMobile;

  .curveButtonContainer {
    &:hover {
      background: radial-gradient(
        circle,
        rgb(255, 255, 255) 40%,
        rgba(255, 0, 0, 0) 53%
      );
      transform: scale(2.6);
    }
  }

  #imgANDdescription {
    // border: 0.1rem solid grey;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    .descriptionContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30%;
    }
    .description {
      font-size: 1.5rem;
      text-align: center;
      // text-justify: inter-character;
    }

    #perfil {
      // background-color: #3300c0;
      $size: 23%;
      width: $size;
      box-shadow: 0 0 1rem 0.1rem;
      margin: 1rem 0;
      margin-left: 1.4rem;
    }
  }

  #subTitles {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
    padding-top: 0.2rem;
    background-color: rgb(36, 36, 36);
    width: 100%;
  }
  #logos {
    margin-top: 0.7rem;

    a {
      color: transparent;
    }
    $scale: 4vw;

    img {
      width: $scale;
      height: $scale;
      transition: all 0.2s;
      border-radius: 0.3rem;

      &:hover {
        filter: drop-shadow(0 0 1rem rgb(88, 88, 88));
      }
    }
    img[src="https://www.nextontop.com/assets/img/services/web/expressjs.svg"]
    {
      transform: scale(1.57);
    }

    img[ src="https://images.tute.io/tute/topic/prisma.png"]
    {
      transform: scale(1.57);
      filter: brightness(3);
      &:hover {
        filter: brightness(3) drop-shadow(0 0 1rem rgb(255, 255, 255));
      }
    }
  }
}
