@mixin componentBorders($Contact, $weigth: 1px, $margin: 4px) {
  #{$Contact} {
    border: 1px rgb(174, 226, 250) solid;
    margin: $margin;
    border-radius: 14px;

    * {
      border: $weigth rgb(0, 174, 255) solid;
      margin: $margin;

      border-radius: 14px;
    }
  }
}
// @include componentBorders(#Contact);

//PIVOT SIZE
$pivotWidthScreen: 1000px; //IF CHANGE, CHANGE IN EVERYWHERE!!

//MOBILE
@media (max-width: $pivotWidthScreen) {
  // #Contact {
  // }

  #title {
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.267);

    color: white;
    height: 3rem;
    margin: 0;
    // padding-top: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0rem 0.3rem 0.01rem;
  }

  #contactButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2vh auto;
    margin-right: 0vw;
    margin-left: 5vw;
    max-width: 93vw;
    $rotate: -41.25grad;

    .curveButtonContainer {
      border-radius: 100%;
      $top: 2vh;

      margin: $top 0;
      margin-top: $top + 2.4;
      transition: all 0.2s;
      background: radial-gradient(
        circle,
        rgb(255, 255, 255) 40%,
        rgba(255, 0, 0, 0) 53%
      );

      transition: all 0.4s linear;
      transform: rotate($rotate) scale(1.5);

      .curveButton {
        // background-color: rgb(136, 136, 136);

        font-size: 10px;
        color: rgb(255, 255, 255);
        font-family: monospace;
        // z-index: -1; //Sino queda abajo llamar por el brightness
        // margin: 3vh 1vw;

        img {
          transform: rotate(-$rotate);
          $scale: 70%;
          width: $scale;
          height: $scale;
        }
      }
    }
  }

  #subTitles {
    font-size: 1.1rem;
    // margin-bottom: 0.3rem;
    // padding-top: 0.2rem;
    background-color: rgb(36, 36, 36);
    width: 100vw;
  }
}
////////////////
////////////////
////////////////
////////////////
////////////////
////////////////
////////////////
////////////////
////////////////
////////////////
//DESKTOP
@media (min-width: $pivotWidthScreen) {
  #Contact {
    // margin-bottom: 40vh;
  }

  #title {
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.267);
    max-width: 100%;
    color: white;
    height: 3rem;
    margin: 0;
    // padding-top: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0rem 0.3rem 0.01rem;
  }

  #contactButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1vh 0vw;

    $rotate: -41.25grad;
    .curveButtonContainer {
      border-radius: 100%;
      $top: 2vh;
      margin: $top 1vw;
      margin-top: $top + 2.4;
      transition: all 0.2s;
      background: radial-gradient(
        circle,
        rgb(255, 255, 255) 40%,
        rgba(255, 0, 0, 0) 53%
      );

      &:hover {
        transform: scale(1.9) rotate($rotate);
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        background: radial-gradient(
          circle,
          rgb(255, 255, 255) 40%,
          rgba(255, 0, 0, 0) 54.5%
        );
      }

      transition: all 0.4s linear;
      transform: rotate($rotate) scale(1.5);

      .curveButton {
        // background-color: rgb(136, 136, 136);

        font-size: 10px;
        color: rgb(255, 255, 255);
        font-family: monospace;
        // z-index: -1; //Sino queda abajo llamar por el brightness
        // margin: 3vh 1vw;

        img {
          transform: rotate(-$rotate);
          $scale: 70%;
          width: $scale;
          height: $scale;
        }
      }
    }
  }

  #subTitles {
    font-size: 1.1rem;
    background-color: rgb(36, 36, 36);
    width: 100%;
  }
}
