#container {
}

/* *margins */
/* :not(html, body, #root, .App) {
  border: 2px solid green;
  padding: 2px;
}
:not(html, body, #root, .App):hover {
  border: 2px solid rgb(251, 255, 0);
  padding: 2px;
}
html {
  border: 4px solid rgb(255, 8, 222);
  padding: 1px;
}
body {
  border: 4px solid rgb(111, 0, 255);
  padding: 1px;
}
#root {
  border: 4px solid rgb(255, 230, 0);
  padding: 1px;
}
.App {
  border: 4px solid rgb(0, 255, 242);
  padding: 1px;
} */
/*  */

#portfolio {
  padding: 10px;
}
/* 
@keyframes salsa {
  49.5% {
    filter: brightness(2);
  }
  50.5% {
    background-color: rgb(46, 63, 46);
  }
  to {
    background-color: black;
  }
} */

/* soloParaQueLoAgregue */
#altaBirraVideo {
}
.youtubeVideo {
  box-shadow: 0rem 0rem 2rem 0rem;
  border-radius: 0.6rem;
  border: 5px solid rgb(51, 51, 51);
}

.youtubeVideoPlay {
  width: 70vw;
  height: 70vh;
  transition: all 500ms;
  box-shadow: 0rem 0rem 03rem 0.1rem;
  border-radius: 1rem;
  border: 5px solid rgb(51, 51, 51);
}

@keyframes APPEARmoreConfetti {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#moreConfetti {
  animation: APPEARmoreConfetti 1s;
  position: fixed;
  bottom: 0.4rem;
  right: 0.4rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  box-shadow: 0rem 0rem 0.3rem 0.01rem white;
  filter: grayscale(0.2);
  background: url(https://i.imgur.com/wrfAe7w.png);
  filter: brightness(1);
  background-size: cover;
  font-size: 1rem;
  font-family: serif;
  -webkit-text-stroke: 0.4px black;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

#moreConfettiLoading {
  color: aliceblue;
  background-color: rgb(78, 77, 78);
  animation: APPEARmoreConfetti 1s;
  transform: scale(1.32);
  position: fixed;
  bottom: 0.4rem;
  right: 0.4rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

@keyframes home {
  0% {
    font-size: 100em;
  }

  to {
    font-size: 1em;
  }
}
