@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap");

//PIVOT SIZE
$pivotWidthScreen: 1000px;
//IF CHANGE, CHANGE IN EVEREWHERE!!
//BASE
#Container {
}
@mixin baseMobile() {
  #Container {
    //Constantes/////////
    $imageWidth: 40vmax;
    $ratioImg: 1621/1337;
    $imageHeight: $imageWidth * $ratioImg;
    $positionConst: $imageHeight/10;
    ////////////////////
    position: relative;
    display: flex;
    justify-content: center;

    * {
      font-family: "WindSong", cursive;
      font-size: $imageHeight * 0.05;
      color: black;
      font-weight: bolder;
      margin: 0;
      padding: 0;
      border: none;
    }

    #backgroundImage {
      width: $imageWidth;
      height: $imageHeight;
      margin: auto;
    }

    Form {
      position: absolute;
      width: $imageWidth;
      height: $imageWidth * $ratioImg;
      margin: auto;
    }

    #name {
      background-color: transparent;
      position: relative;
      top: $positionConst * 2;
    }

    input {
      width: 50%;
      background-color: transparent;
    }
  }
}

//MOBILE
@media (max-width: $pivotWidthScreen) {
  @include baseMobile;
}

//DESKTOP
@media (min-width: $pivotWidthScreen) {
  @include baseMobile;
}
