@use 'sass:math';

//Constants
//
$ratioYoutubeVideo: 0.5625;
//
$pivotWidthScreen: 1000px; //If change this, change this in everywhere mfucker!
#title {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.267);
  max-width: 100vw;
  //margin-top modify in code! depends of navBar and size of dispositive!
  color: white;
  height: 3rem;
  padding-top: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0rem 0.3rem 0.01rem;
}
#subTitles {
  // font-size: 1.1rem;
  margin-bottom: 0.3rem;
  padding-top: 0.2rem;
  background-color: rgb(36, 36, 36);
  width: 100%;
}

@mixin base() {
  /* Solo para que le asigne el id! */
  #Portfolio {
    background-color: none;
  }
  #pokemonContainer {
    position: relative;
  }

  @keyframes aLinksAnimation {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.02);
    }
  }
  #aLinks {
    animation: aLinksAnimation infinite linear alternate 0.8s;
    margin: 2vh 0.4vw;
    filter: drop-shadow(rgb(255, 255, 255) 0px 0px 0.2rem);
    transition: all 0.5s;
  }

  .youtubeVideo {
    $sizeInVw: 40vw;
    width: $sizeInVw;
    height: $sizeInVw * $ratioYoutubeVideo;
    box-shadow: 0rem 0rem 2rem 0rem;
    border-radius: 0.6rem;
    border: 5px solid rgb(51, 51, 51);
  }

  $sizeInVw: 65vw;
  .youtubeVideoPlay {
    width: $sizeInVw;
    height: $sizeInVw * $ratioYoutubeVideo;
    transition: all 500ms;
    box-shadow: 0rem 0rem 03rem 0.1rem;
    border-radius: 1rem;
    border: 5px solid rgb(51, 51, 51);
  }

  @keyframes APPEARmoreConfetti {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #moreConfetti {
    animation: APPEARmoreConfetti 1s;
    position: absolute;
    border-radius: 100%;

    box-shadow: 0rem 0rem 0.3rem 0.01rem white;
    filter: grayscale(0.2);
    background: url(https://i.imgur.com/wrfAe7w.png);
    filter: brightness(1);
    background-size: cover;
    font-size: 1rem;
    font-family: serif;
    -webkit-text-stroke: 0.4px black;
    font-weight: bold;
    color: rgb(255, 255, 255);

    top: 50%;
    transform: translateY(-50%) translateX(50%);
    right: math.div(100vw - $sizeInVw, 4);
    width: 4rem;
    height: 4rem;
  }

  #moreConfettiLoading {
    color: aliceblue;
    background-color: rgb(78, 77, 78);
    animation: APPEARmoreConfetti 1s;
    transform: scale(1.32);
    position: absolute;

    border-radius: 100%;

    top: 50%;
    transform: translateY(-50%) translateX(50%);
    right: math.div(100vw - $sizeInVw, 4);
    width: 7rem;
    height: 7rem;
  }

  @keyframes home {
    0% {
      font-size: 100em;
    }

    to {
      font-size: 1em;
    }
  }
}

//DESKTOP////////////////////////////////////////////////////////////////////////
@media (min-width: $pivotWidthScreen) {
  @include base;

  #aLinks {
    &:hover {
      transition: all 0.2s;

      filter: drop-shadow(rgb(188, 252, 202) 0px 0px 0.2rem);
    }
  }
}
/////////////////////////////////////////////////////////////////////////////////

//MOBILE/////////////////////////////////////////////////////////////////////////
@media (max-width: $pivotWidthScreen) {
  @include base;

  .youtubeVideo,
  .youtubeVideoPlay {
    $sizeInVw: 95vw;
    width: $sizeInVw;
    height: $sizeInVw * $ratioYoutubeVideo;
  }

  #pokemonContainer {
  }
  #moreConfetti {
    transform: translateY(180%) translateX(0%);
    top: auto;
    bottom: 0px;
    right: 2vmax;
    left: auto;
    width: 6vmax;
    height: 6vmax;
    margin-bottom: 1vmax;
  }

  #moreConfettiLoading {
    transform: translateY(150%) translateX(0%);
    top: auto;
    bottom: 0px;
    right: 1.5vmax;
    left: auto;
    width: 7vmax;
    height: 7vmax;
    margin-bottom: 1vmax;
  }
}
//////////////////////////////////////////////////////////////////////////////////
