@use 'sass:math';

@mixin componentBorders($altaBirraContainer, $weigth: 1px, $margin: 4px) {
  #{$altaBirraContainer} {
    border: 1px solid rgb(174, 226, 250);
    margin: $margin;
    border-radius: 14px;

    * {
      border: $weigth rgb(0, 174, 255) solid;
      margin: $margin;

      border-radius: 14px;
    }
  }
}
// @include componentBorders(#altaBirraContainer);

//Constants
//
$ratioYoutubeVideo: 0.5625;
//
$pivotWidthScreen: 1000px; //If change this, change this in everywhere mfucker!
#title {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.267);
  max-width: 100vw;
  //margin-top modify in code! depends of navBar and size of dispositive!
  color: white;
  height: 3rem;
  padding-top: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0rem 0.3rem 0.01rem;
}

@mixin base() {
  /* Solo para que le asigne el id! */
  #Portfolio {
    background-color: none;
  }
  #altaBirraContainer {
    position: relative;
  }

  .youtubeVideo {
    $sizeInVw: 40vw;
    width: $sizeInVw;
    height: $sizeInVw * $ratioYoutubeVideo;
    box-shadow: 0rem 0rem 2rem 0rem;
    border-radius: 0.6rem;
    border: 5px solid rgb(51, 51, 51);
  }

  $sizeInVw: 65vw;
  .youtubeVideoPlay {
    width: $sizeInVw;
    height: $sizeInVw * $ratioYoutubeVideo;
    transition: all 500ms;
    box-shadow: 0rem 0rem 03rem 0.1rem;
    border-radius: 1rem;
    border: 5px solid rgb(51, 51, 51);
  }

  @keyframes APPEARmoreConfetti {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #moreConfetti {
    animation: APPEARmoreConfetti 1s;
    position: absolute;
    border-radius: 100%;

    box-shadow: 0rem 0rem 0.3rem 0.01rem white;
    filter: grayscale(0.2);
    background: url(https://i.imgur.com/wrfAe7w.png);
    filter: brightness(1);
    background-size: cover;
    font-size: 1rem;
    font-family: serif;
    -webkit-text-stroke: 0.4px black;
    font-weight: bold;
    color: rgb(255, 255, 255);

    top: 50%;
    transform: translateY(-50%) translateX(50%);
    right: math.div(100vw - $sizeInVw, 4);
    width: 5rem;
    height: 5rem;
  }

  #moreConfettiLoading {
    color: aliceblue;
    background-color: rgb(78, 77, 78);
    animation: APPEARmoreConfetti 1s;
    transform: scale(1.32);
    position: absolute;

    border-radius: 100%;

    top: 50%;
    transform: translateY(-50%) translateX(50%);
    right: math.div(100vw - $sizeInVw, 4);
    width: 7rem;
    height: 7rem;
  }

  @keyframes home {
    0% {
      font-size: 100em;
    }

    to {
      font-size: 1em;
    }
  }
}

//DESKTOP////////////////////////////////////////////////////////////////////////
@media (min-width: $pivotWidthScreen) {
  @include base;
}
/////////////////////////////////////////////////////////////////////////////////

//MOBILE/////////////////////////////////////////////////////////////////////////
@media (max-width: $pivotWidthScreen) {
  @include base;

  .youtubeVideo,
  .youtubeVideoPlay {
    $sizeInVw: 95vw;
    width: $sizeInVw;
    height: $sizeInVw * $ratioYoutubeVideo;
  }

  #altaBirraContainer {
    padding-bottom: 8vmax;
  }
  #moreConfetti {
    transform: translateY(0%) translateX(-50%);
    top: auto;
    bottom: 0px;
    right: auto;
    left: auto;
    width: 8vmax;
    height: 8vmax;
    margin-bottom: -1vmax;
  }

  #moreConfettiLoading {
    transform: translateY(10%) translateX(0%) scale(1.5);
    top: auto;
    bottom: 0px;
    right: 0;
    left: 0;
    width: 8vmax;
    height: 8vmax;
    margin-bottom: -1vmax;
  }
}
//////////////////////////////////////////////////////////////////////////////////
