#NavigationBar {
  background-color: rgb(78, 78, 78);
  font-size: 1.5rem;
  position: fixed;
  width: 100vw;
  /* change heigth in the top of the tsx code! 11line!  */
  top: 0px;
}

.link {
  margin: 1rem;
}
